@font-face
{
  font-family: 'Open Sans', sans-serif;
  font-family: 'PT Serif', serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Averia Serif Libre', cursive;
  font-family: 'Open Sans Condensed', sans-serif;
}

body
{
  background-color:#e0e0e0;
  background-image:url('images/1478918_567778686629859_1098515982_n-blurred.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  margin-left:auto;
  margin-right:auto;
  padding-left:10%;
  padding-right:10%;
  font-family:'Averia Serif Libre', cursive;
  color:#e0efcf;
  font-size:17px;
}

div
{
  display: inline-block;
  vertical-align: top;
  overflow:hidden;
}

div.description
{
  padding:0;
  margin:0 auto;
  word-wrap: break-word;
}

img.dero
{
  width:100%;
  height:auto;
}

audio
{
    width:100%;
    height:auto;
    padding-top:2px;
    padding-bottom:2px;
}

div.footer
{
  margin-left:auto;
  margin-right:auto;
  width:100%;
}
div
{
  background:url('/home/ubuntu/Downloads/1478918_567778686629859_1098515982_n-blurred.jpg');
}

footer
{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-size:12px;
  font-weight:bold;
}

@media screen and (min-width: 320px){
  div
  {
    width:100%;
  }
  #menu li
  {
    width:100%;
  }
  #menu li a
  {
    padding-left:30%;
    padding-right:30%;
  }
  #menu
  {
    width:100%;
  }
}
@media screen and (min-width: 539px), handheld and (min-width:540px) and (orientation:portrait){
  div
  {
    width:100%;
  }
  #menu li
  {
    display:inline;
  }
  #menu li a
  {
    display:inline-block;
    padding-left:2px;
    padding-right:2px;
  }
  #menu
  {
    margin:7px auto;
  }
}
@media screen and (min-width: 750px){
  div.img
  {
    width:30%;
    float:left;
  }
  div.description
  {
    width:69.5%;
    float:right;
  }
}

#menu
{;
    padding:0;
    list-style:none;
    border:1px solid #999999;
    border-width:1px 0;
    text-align:center;
}

#menu li /*Styling the li part of the menu*/
{
    padding:5px;
}
 
#menu li a /*Styling the link part of the menu li*/
{
    color:#999999;
    font-size:1.2em;
}
#menu li:hover
{
    background:#fff;
}
#menu li:hover a /*Styling the link part of the menu li in hover state*/
{
    color:#000;
}
